a{
    color: inherit;
}

a:hover{
    text-decoration: none;
    color: inherit;
}

body{
    color: grey;
}

.content{
    padding: 20px;
    margin: 15px 0;
    background-color: white;
    box-shadow: 0px 0px 5px black;
}

.content:first-of-type{
    margin-top: 0;
}

.contents{
    background-color: grey;
    margin-bottom: 55px;
    padding-top: 15px;
}

.content-description{
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 90px;
    text-align: justify;
    font-size: 12px;
}

.content-footer{
    font-size: 10px;
    font-weight: bold;
    padding-bottom: 20px;
}

.content-footer p:first-of-type{
    color: black;
}

.content-footer p:last-of-type{
    color: gold;
    font-style: italic;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background-color: white;
    color: grey;
    text-align: center;
    box-shadow: 0px -1px 25px grey;
    display: flex;
    justify-content: center;
}

.icon{
    height: 30px;
}

.icon-tiny{
    height: 10px;
}

.main-header{
    display: inline-block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 5px 0 0 0;
}

.menu{
    padding: 20px;
}

.nav-button{
    display: inline-block;
    min-width: 80px;
    font-size: 12px;
    margin: 0 15px;
}

.nav-button p{
    margin-bottom: 0;
}

.notifications{
    display: inline-block;
    background-color: grey;
    color: white;
    border-radius: 50%;
    line-height: 30px;
    height: 30px;
    width: 30px;
    text-align: center;
}

.notifications p{
    line-height: 1.9;
    display: inline-block;
    vertical-align: middle;
}

p.h5{
    color: black;
    margin-bottom: 0;
    font-weight: 300;
}

p.category{
    color: black;
    font-weight: bold;
    font-style: italic;
    font-size: 14px;
}

.sub-menu{
    background-color: #eee;
    padding: 20px;
}