body{
    color: grey;
}

.contents{
    background-color: grey;
}

.content{
    padding: 20px;
    margin: 15px 0;
    background-color: white;
}

.content-description{
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis; 
    height: 100px;
}

.icon{
    height: 30px;
}

.main-header{
    display: inline-block;
}

.menu{
    padding: 20px;
}

.notifications{
    display: inline-block;
    background-color: grey;
    color: white;
    border-radius: 50%;
    line-height: 30px;
    height: 30px;
    width: 30px;
    text-align: center;
}

.notifications p{
    line-height: 1.9;
    display: inline-block;
    vertical-align: middle;
}

p.h5{
    color: black;
    margin-bottom: 0;
    font-weight: 300;
}

p.category{
    color: black;
    font-weight: bold;
    font-style: italic;
    font-size: 14px;
}

.sub-menu{
    background-color: lightgray;
    padding: 20px;
}